@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

h1 {
    font-weight: 800;
    font-size: 260%;
    letter-spacing: 2px;
}

h2 {
    font-weight: 500;
    font-size: 130%;
    letter-spacing: 2px;
}

h3 {
    font-weight: 500;
    font-size: 160%;
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
    font-size: 1.2vw;
    color: #3a3a3a;
}

/* header and logo */

header {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    margin-top: -80px;
    position: fixed;
    z-index: 5;
}

#logo {
    float: left;
    margin-left: 40px;
    height: auto;
    width: 5%;
}

/* navigation links */

#menu {
    margin-right: 20px;
}   

#menu li {
    font-size: 1.2vw;
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #af8e38;
}

#menu a:hover {
    border-bottom: 1px solid #af8e38;
}

.active {
    border-bottom: 1px solid #af8e38;
}

/* hero image section */

#hero-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: auto;
    width: 100%;
    position: relative;
}

#hero-image-text {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 200px;
    top: 10px;
    position: absolute;
}

#hero-image-text h1 {
    font-size: 3.4vw;
    color: #D1AA91;
}
    
#hero-image-text h3 {
    font-size: 1vw;
    margin-top: auto;
    color: #ffffff;
}

/* About Us */

#about-us {
    width: 100%;
    height: auto;
}

.our-mission {
    width: 60%;
    height: auto;
    text-align:left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#about-us h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color:#D1AA91;
    text-align: center;
}

#about-us p {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 15%
}

/* about section */

#about-section {
    width: 100%;
}

#about-section-content {
    background-color: #F7E4E6;
    text-align: center;
    padding: 30px 50px 20px 50px;
}

.about-image {
    width: 250px;
}

.about {
    display: inline-block;
    vertical-align: middle;
    
}

#left-about {
    width: 45%;
}

#right-about {
    width: 45%;
}

#about-yoga-header {
    text-transform: uppercase;
    font-size: 1.8vw;
    color:#D1AA91;
    text-align: center;
    margin-top: 10px;
}

#about-yoga-content {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 20%;
    text-align: center;
    margin: -10px 10px 10px 10px;
}

#about-meditation-header {
    text-transform: uppercase;
    font-size: 1.8vw;
    color:#D1AA91;
    text-align: center;
    margin-top: 10px;
}

#about-meditation-content {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 20%;
    text-align: center;
    margin:-10px 10px 10px 10px;
}

/* footer */

footer {
    height: 150px;
    text-align: center;
    background-color: #D1AA91;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 60px;
    color: white;
}

/* classes page */

#classes-hero-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#classes-hero-image {
    max-width: 100%;
    height: auto;
    position: relative;
}

/* about our classes section */

#about-our-classes {
    width: 100%;
    height: auto;
}

.choose-your-class {
    width: 60%;
    height: auto;
    text-align:left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#about-our-classes h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4vw;
    color: #D1AA91;
}

#about-our-classes h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color:#D1AA91;
    text-align: center;
    margin-top: 10px;
}

#about-our-classes p {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 15%
}

/* time table section */

#time-section {
    width: 100%;
}

#time-section-content {
    background-color: #F7E4E6;
    text-align: center;
    padding: 10px 50px 20px 50px;
}

.classes {
    display: inline-block;
    vertical-align: middle;  
}

#time-yoga-classes {
    width: 45%;
}

#time-meditation-groups {
    width: 45%;
}

#yoga-classes-header {
    text-transform: uppercase;
    font-size: 1.8vw;
    color:#D1AA91;
    text-align: center;
    margin-top: 10px;
}

#yoga-classes-content {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 20%;
    text-align: center;
    margin: -10px 10px 10px 10px;
}

#meditation-classes-header {
    text-transform: uppercase;
    font-size: 1.8vw;
    color:#D1AA91;
    text-align: center;
    margin-top: 10px;
}

#meditation-classes-content {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 20%;
    text-align: center;
    margin:-10px 10px 10px 10px;
}

/* for larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #about-section-content {
        background-color: #F7E4E6;
        text-align: center;
        padding: 0 50px 30px 50px;
    }

    .about {
        display: inline-block;
        vertical-align: top;      
    }

}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #about-section-content {
        background-color: #F7E4E6;
        text-align: center;
        padding: 0 50px 30px 50px;
    }

    .about {
        display: inline-block;
        vertical-align: top;      
    }
}