@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

h1 {
    font-weight: 800;
    font-size: 260%;
    letter-spacing: 2px;
}

h2 {
    font-weight: 500;
    font-size: 130%;
    letter-spacing: 2px;
}

h3 {
    font-weight: 500;
    font-size: 100%;
    letter-spacing: 2px;
}

p {
    letter-spacing: 1px;
    font-size: 1.2vw;
    color: #3a3a3a;
}

span {
    color: #D1AA91;
    font-weight: bold;
}

/* header and logo */

header {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    margin-top: -80px;
    position: fixed;
    z-index: 5;
}

#logo {
    float: left;
    margin-left: 40px;
    height: auto;
    width: 5%;
}

/* navigation links */

#menu {
    margin-right: 20px;
}

#menu li {
    font-size: 1.2vw;
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #af8e38;
}

#menu a:hover {
    border-bottom: 1px solid #af8e38;
}

.active {
    border-bottom: 1px solid #af8e38;
}

/* hero image section */

#hero-image-section {
    height: auto;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: auto;
    width: 100vw;
    position: relative;
}

#hero-image-text {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    top: 10px;
    position: absolute;
}

#hero-image-text h1 {
    font-size: 3.4vw;
    color: #D1AA91;
}

#hero-image-text h3 {
    font-size: 1vw;
    margin-top: auto;
    color: #ffffff;
}

/* About Us */

#about-us {
    width: 100%;
    height: auto;
}

.our-mission {
    width: 60%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#about-us h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
}

#about-us p {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 15%
}

/* about section */

#about-section {
    width: 100%;
}

#about-section-content {
    background-color: #F7E4E6;
    text-align: center;
    padding: 30px 50px 20px 50px;
}

.about-image {
    width: 250px;
}

.about {
    display: inline-block;
    vertical-align: middle;

}

#left-about {
    width: 45%;
}

#right-about {
    width: 45%;
}

#about-yoga-header {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
    margin-top: 10px;
}

#about-yoga-content {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 20%;
    text-align: center;
    margin: -10px 10px 10px 10px;
}

#about-meditation-header {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
    margin-top: 10px;
}

#about-meditation-content {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 20%;
    text-align: center;
    margin: -10px 10px 10px 10px;
}



/* footer */

footer {
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #D1AA91;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 60px;
    color: white;
}

/* classes page */

#classes-hero-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#classes-hero-image {
    max-width: 100%;
    height: auto;
    position: relative;
}

/* about our classes section */

#about-our-classes {
    width: 100%;
    height: auto;
}

.choose-your-class {
    width: 60%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#about-our-classes h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4vw;
    color: #D1AA91;
}

#about-our-classes h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
    margin-top: 10px;
}

#about-our-classes p {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 15%
}

/* time table section */

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgb(148, 170, 211, 0.4);
}

th:nth-child(even),
td:nth-child(even) {
    background-color: rgb(148, 170, 211, 0.4);
}

table {
    width: 100%;
    font-size: 1vw;
    background-color: white;
}

th {
    height: 40px;
}

tr {
    height: 30px;
}

#time-section {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#time-section-content {
    background-color: #F7E4E6;
    text-align: center;
    padding: 10px 50px 20px 50px;
}

.classes {
    width: auto;
    margin: auto;
    padding: 10px 0px 50px 0px;
}

#time-yoga-classes {
    width: 80%;
}

#time-meditation-groups {
    width: 80%;
}

#yoga-classes-header {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
    margin-top: 10px;
}

#meditation-classes-header {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
    margin-top: 10px;
}

#choose-your-class {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
    margin-top: 50px;
}

span a {
    text-decoration: none;
    color: #D1AA91;
    font-weight: bold;
}

/* contact page */

#contact-hero-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#contact-hero-image {
    max-width: 100%;
    height: auto;
    position: relative;
}

/* contact form section */

#contact-form-section {
    width: 100%;
    height: auto;
}

.contact {
    width: 60%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#contact-form-section h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4vw;
    color: #D1AA91;
}

#contact-form-section h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
    margin-top: 10px;
}

#contact-form-div {
    width: 100%;
}

#contact-form {
    background-color: #F7E4E6;
    text-align: left;
    padding: 10px 50px 20px 50px;
    width: 30%;
    margin: 0 auto;
}

#contact-form h3 {
    color: #D1AA91;
    text-align: center;
    margin-bottom: 20px;
}

#contact-form h2 {
    margin-bottom: 10px;
}

.text-input {
    background: white;
    color: #3a3a3a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
}

.text-input:hover {
    border: 2px solid rgb(148, 170, 211);
}

.send-button {
    color: #ffffff;
    text-align: center;
    font-size: 100%;
    background-color: rgb(148, 170, 211);
    border-radius: 2px;
    margin-top: 20px;
    padding: 10px;
}

.send-button:hover {
    color: rgb(148, 170, 211);
    background-color: #ffffff;
}

.radio {
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
}

/* contact details section */

#details-div {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    background-color: #F7E4E6;
    padding-top: 20px;
}

#contact-wrapper {
    background-color: #F7E4E6;
    text-align: center;
    padding: 30px 50px 30px 50px;
}

#contact-div {
    width: 45%;
}

#contact-div li {
    list-style: none;
}

#contact-div ul {
    width: 80%;
    text-align: center;
}

.contact-details h3 {
    color: #D1AA91;
    text-decoration: underline;
    margin-bottom: 3px;
    margin-top: 10px;
}

.contact-details p {
    font-size: 80%;
}

/* map section */
#map-div {
    width: 45%;

}

#gmap {
    width: 100%;
}

.contact-details {
    display: inline-block;
    vertical-align: middle;
}

/* thank you page */

#thankyou-hero-image-section {
    margin-top: 80px;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#thankyou-hero-image {
    max-width: 100%;
    height: auto;
    position: relative;
}

#thankyou-section {
    width: 100%;
    height: auto;
}

.thankyou {
    width: 60%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#thankyou-section h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4vw;
    color: #D1AA91;
}

#thankyou-section h2 {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #D1AA91;
    text-align: center;
    margin-top: 10px;
}

#thankyou-section p {
    font-size: 1.2vw;
    color: #3a3a3a;
    padding: 0 15%
}

/* media queries */

@media screen and (min-width: 480px) and (max-width: 920px) {

    #menu li {
        font-size: 2vw;
    }

    #menu {
        line-height: 60px;
    }

    header {

        height: 60px;
        margin-top: -60px;
        position: absolute;
    }

    #logo {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: auto;
    }

    #about-us h2 {
        font-size: 2vw;
    }

    #about-us p {
        font-size: 1.5vw;
    }

    .our-mission {
        width: 75%;
    }

    #about-section {
        width: 100vw;
    }

    #about-section-content {
        padding: 0;
    }

    .about-image {
        width: 200px;
    }

    .about {
        vertical-align: middle;
        position: relative
    }

    #about-yoga-content {
        margin: 0 0 0 0;
    }

    #left-about {
        width: 100%;
    }

    #right-about {
        width: 100%;
        padding-top: 30px;
    }

    #about-yoga-header {
        font-size: 2vw;
    }

    #about-yoga-content {
        font-size: 1.5vw;
    }

    #about-meditation-header {
        font-size: 2vw;
    }

    #about-meditation-content {
        font-size: 1.5vw;
    }

    /* Classes page */

    .choose-your-class {
        width: 80%;        
    }
    
    #about-our-classes h2 {
        font-size: 2vw;       
    }
    
    #about-our-classes p {
        font-size: 1.5vw;        
    }
    
    .classes {
        padding-bottom: 10px;
    }

    table {
        font-size: 1.4vw;
    }

    #yoga-classes-header {        
        font-size: 2vw;        
    }
    
    #meditation-classes-header {        
        font-size: 2vw;
    }

    #choose-your-class {        
        font-size: 2vw;        
        margin-top: 20px;
    }

    #time-meditation-groups p {
        font-size: 1.6vw;
    }

    /* contact page */

    #contact-form-section h1 {        
        font-size: 5vw;        
    }
    
    #contact-form-section h2 {        
        font-size: 3.4vw;        
    }
    
    #contact-form-div {
        width: 100%;
    }
    
    #contact-form {        
        width: 50%;        
    }

    #details-div {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        background-color: #F7E4E6;
        padding-top: 20px;
    }

    #contact-wrapper {        
        text-align: center;
        padding: 30px 30px 30px 30px;
        width: 90%;        
    }

    #contact-div ul {
        width: 60%;
        text-align: left;
    }

    .contact-details p {
        font-size: 60%;
    }

}

@media screen and (min-width: 0px) and (max-width: 480px) {

    #menu li {
        font-size: 2.8vw;
        margin-right: 30px;
    }

    #menu {
        line-height: 60px;
    }

    header {
        height: 60px;
        margin-top: -60px;
        position: absolute;
    }

    #logo {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: auto;
        margin-left: 30px;
    }

    #hero-image-text h1 {
        font-size: 6vw;
    }

    #hero-image-text h3 {
        font-size: 2vw;
        font-weight: bold;
    }

    #about-us h2 {
        font-size: 3.6vw;
    }

    #about-us p {
        font-size: 3vw;
    }

    .our-mission {
        width: 100%;
    }

    #about-section {
        width: 100vw;
    }

    .about-image {
        width: 200px;
    }

    .about {
        vertical-align: middle;
        position: relative
    }

    #left-about {
        width: 100%;
    }

    #right-about {
        width: 100%;
        padding-top: 30px;
    }

    #about-yoga-header {
        font-size: 3.6vw;
    }

    #about-yoga-content {
        font-size: 3vw;
        margin: 0;
        padding: 0;
    }

    #about-meditation-header {
        font-size: 3.6vw;
    }

    #about-meditation-content {
        font-size: 3vw;
        margin: 0;
        padding: 0;
    }

    footer {
        height: 110px;
    }

    .social-networks i {
        font-size: 140%;
        padding: 40px 30px;
    }

    /* classes page */

    .choose-your-class {
        width: 100%;           
    }

    #about-our-classes {
        width: 100%;
    }
    
    #about-our-classes h1 {
        font-size: 5vw;
    }

    #about-our-classes h2 {
        font-size: 3.4vw;
        margin:10px 20px 0 20px;
    }
    
    #about-our-classes p {
        font-size: 3vw;       
    }
    
    #time-section-content {        
        padding: 10px 20px 20px 20px;
        width: 100%;
        text-align: center;
    }

    .classes {
        padding-bottom: 10px;
        width: 100%;
        margin: 0;        
    }

    #time-section {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    table {
        font-size: 2vw;
    }

    #yoga-classes-header {        
        font-size: 3.4vw;        
    }
    
    #meditation-classes-header {        
        font-size: 3.4vw;
    }

    #choose-your-class {        
        font-size: 3.4vw;        
        margin-top: 20px;
    }

    #time-yoga-classes {
        width: 90%;
    }

    #time-meditation-groups {
        width: 90%;
    }

    #time-meditation-groups p {
        font-size: 3vw;
    }

    /* contact page */

    #contact-form-section h1 {        
        font-size: 6vw;        
    }
    
    #contact-form-section h2 {        
        font-size: 3.4vw;        
    }
    
    #contact-form-div {
        width: 100%;
    }
    
    #contact-form {        
        width: 70%;        
    }
    
    #contact-form h3 {
        font-size: 3vw;        
    }
    
    #contact-wrapper {        
        text-align: center;
        padding: 30px 30px 30px 30px;
        width: 90%;        
    }

    .label-checkbox {
        font-size: 3.4vw;
    }    

    #contact-div ul {
        width: 60%;
        text-align: center;
    }

    .contact-details p {
        font-size: 2.4vw;
    }

    .contact-details {
        display: block;                
    }

}